div {
    &.person {
        margin: auto;
        padding-top: 0.5em;
        width: 20%;
        text-align: center;
        background-color: rgba(180, 168, 168, 0.8);
        box-shadow: #6a676b 1px 1px;

        img {
            border-radius: 50%;
        }

        .title {
            margin-top: 2em;
            font-weight: bold;
        }

        .text {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        button {
            background-color: rgb(2, 37, 194);
            border-radius: 0.5em;
            width: 90%;
            margin-bottom: 1em;
        }
    }
}